# Ignore static given case-information
example/
gates&netlists/

# Ignore personal test files
eline.py
class_eline.py
test_eline.py
mimoun.py
syrka.py
syrka.ipynb

# Ignore non-informative files
__pycache__/
.ipynb_checkpoints
.DS_Store